<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immomo.momo.android"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.immomo.momo.android.BaseApplication"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.App" >
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutTabsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ProtocolActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.UserGuiDeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.WifiapActivity"            
            android:screenOrientation="portrait" 
            android:alwaysRetainTaskState="true" >
        </activity>         
        <activity
            android:name=".activity.FindPwdTabsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FindPwdPhoneActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FindPwdEmailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ResetPwdPhoneActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.register.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.imagefactory.ImageFactoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.maintabs.MainTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.maintabs.NearByActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.maintabs.NearByFeedsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.maintabs.SessionListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.maintabs.ContactTabsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.maintabs.UserSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OtherProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageBrowserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OtherFeedListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FeedProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".activity.message.ChatActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        
        <receiver android:name="com.immomo.momo.android.activity.wifiap.WifiapBroadcast" >
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.SCAN_RESULTS" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>